@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css');

:root {
    --drg-primary: #AE0115;
    --drg-light-gray: #F7F7F7;
    --drg-gray: #F0F0F0;
    --drg-back: #fff;
    --drg-back-opacity: #ffffff99;
    --drg-back-opacity: #ffffff99;
    --drg-front: #111;
    --drg-dark-gray: #777;
}


html, body {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: var(--drg-back);
    color: var(--drg-front);
    background: url(./images/wallpaper.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.97;
}

.welcomePanel {
    width: 100vw;
    max-width: 800px;
    height: 100vh;
    max-height: 600px;
    background-color: var(--drg-back);
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 0 20px var(--drg-front);
    font-family: Lato, sans-serif;
    font-weight: 100;
    color: var(--drg-front);
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.welcomePanel * {
    font-family: Lato, sans-serif;
    font-weight: 300;
}
.welcomePanel h1 {
    margin-top: 0;
    text-align: center;
    color: var(--drg-primary);
    text-shadow: 0 0 5px var(--drg-dark-gray);
}
.welcomePanel h3 {
    text-align: center;
    color: var(--drg-front);
    text-shadow: 0 0 5px var(--drg-dark-gray);
}
.welcomePanel .game {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.welcomePanel .rules {
    font-size: 0.8rem;
}
.welcomePanel .rules h4 {
    font-size: 1rem;
    font-weight: bolder;
}
.welcomePanel .rules strong {
    font-weight: bolder;
}
.welcomePanel .rules cite {
    font-weight: bolder;
    font-style: normal;
    text-decoration: underline;
}
.welcomePanel button {
    background-color: var(--drg-light-gray);
    color: var(--drg-primary);
    border: 0;
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
}
.welcomePanel button.newgame::before {
    content: '\f522';
    font-family: 'Font Awesome\ 5 Free'; 
	font-weight: 900;
    margin-right: 0.5rem;
}
.welcomePanel button:hover {
    color: var(--drg-front);
}
.welcomePanel label {
    font-size: 0.9rem;
    margin-top: 15px;
}

/* https://stackoverflow.blog/2021/05/31/shipping-confetti-to-stack-overflows-design-system/ */
.bg-confetti-animated {
    background-repeat: repeat-x;
    background-position: top -10px center;
    background-image: url("data:image/svg+xml,%3Csvg width='600' height='90' viewBox='0 0 600 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='42' y='-10' width='6' height='10'/%3E%3Crect x='84' y='-10' width='6' height='10'/%3E%3Crect x='126' y='-13' width='5' height='13'/%3E%3Crect x='168' y='-13' width='5' height='13'/%3E%3Crect x='210' y='-10' width='6' height='10'/%3E%3Crect x='252' y='-13' width='5' height='13'/%3E%3Crect x='294' y='-10' width='6' height='10'/%3E%3Crect x='336' y='-13' width='5' height='13'/%3E%3Crect x='378' y='-13' width='5' height='13'/%3E%3Crect x='420' y='-10' width='6' height='10'/%3E%3Crect x='462' y='-10' width='6' height='10'/%3E%3Crect x='504' y='-13' width='5' height='13'/%3E%3Crect x='546' y='-10' width='6' height='10'/%3E%3Cstyle type='text/css'%3E rect %7B opacity: 0; %7D rect:nth-child(1) %7B transform-origin: 45px 5px; transform: rotate(-145deg); animation: blast 700ms infinite ease-out; animation-delay: 88ms; animation-duration: 631ms; %7D rect:nth-child(2) %7B transform-origin: 87px 5px; transform: rotate(164deg); animation: blast 700ms infinite ease-out; animation-delay: 131ms; animation-duration: 442ms; %7D rect:nth-child(3) %7B transform-origin: 128px 6px; transform: rotate(4deg); animation: blast 700ms infinite ease-out; animation-delay: 92ms; animation-duration: 662ms; %7D rect:nth-child(4) %7B transform-origin: 170px 6px; transform: rotate(-175deg); animation: blast 700ms infinite ease-out; animation-delay: 17ms; animation-duration: 593ms; %7D rect:nth-child(5) %7B transform-origin: 213px 5px; transform: rotate(-97deg); animation: blast 700ms infinite ease-out; animation-delay: 122ms; animation-duration: 476ms; %7D rect:nth-child(6) %7B transform-origin: 255px 6px; transform: rotate(57deg); animation: blast 700ms infinite ease-out; animation-delay: 271ms; animation-duration: 381ms; %7D rect:nth-child(7) %7B transform-origin: 297px 5px; transform: rotate(-46deg); animation: blast 700ms infinite ease-out; animation-delay: 131ms; animation-duration: 619ms; %7D rect:nth-child(8) %7B transform-origin: 338px 6px; transform: rotate(-65deg); animation: blast 700ms infinite ease-out; animation-delay: 85ms; animation-duration: 668ms; %7D rect:nth-child(9) %7B transform-origin: 380px 6px; transform: rotate(13deg); animation: blast 700ms infinite ease-out; animation-delay: 128ms; animation-duration: 377ms; %7D rect:nth-child(10) %7B transform-origin: 423px 5px; transform: rotate(176deg); animation: blast 700ms infinite ease-out; animation-delay: 311ms; animation-duration: 508ms; %7D rect:nth-child(11) %7B transform-origin: 465px 5px; transform: rotate(108deg); animation: blast 700ms infinite ease-out; animation-delay: 108ms; animation-duration: 595ms; %7D rect:nth-child(12) %7B transform-origin: 506px 6px; transform: rotate(62deg); animation: blast 700ms infinite ease-out; animation-delay: 105ms; animation-duration: 375ms; %7D rect:nth-child(13) %7B transform-origin: 549px 5px; transform: rotate(16deg); animation: blast 700ms infinite ease-out; animation-delay: 149ms; animation-duration: 491ms; %7D rect:nth-child(odd) %7B fill: %2365BB5C; %7D rect:nth-child(even) %7B z-index: 1; fill: %2333AAFF; %7D rect:nth-child(4n) %7B animation-duration: 1400ms; fill: %23F23B14; %7D rect:nth-child(3n) %7B animation-duration: 1750ms; animation-delay: 700ms; %7D rect:nth-child(4n-7) %7B fill: %232A2F6A; %7D rect:nth-child(6n) %7B fill: %23FBBA23; %7D @keyframes blast %7B from %7B opacity: 0; %7D 20%25 %7B opacity: 1; %7D to %7B transform: translateY(90px); %7D %7D %3C/style%3E%3C/svg%3E%0A");
}

.blink {
    animation-duration: .6s;
    animation-name: blink;
    animation-iteration-count: infinite;
    transition: opacity 0.1s;
    display: none;
}

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.playerZone {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--drg-back);
    width: 50%;
    height: 100%;
}
.playerZone.active {
    background-color: var(--drg-gray);
}

.playerName {
    margin: 0;
    margin-top: 5vh;
    padding: 0;
    font-size: 2.5vw;
    font-weight: 100;
    color: var(--drg-front);
    text-transform: uppercase;
}
.playerZone.active .playerName {
    font-weight: 300;
}
.playerZone.active .playerName::after {
    content: '•';
    position: absolute;
    margin-left: 10px;
    color: var(--drg-primary);
    animation-duration: .6s;
    animation-name: blink;
    animation-iteration-count: infinite;
    transition: opacity 0.1s;
}
.playerWinner {
    margin: 0;
    margin-bottom: 20vh;
    padding: 0;
    font-size: 2vw;
    font-weight: bold;
    color: var(--drg-primary);
    text-transform: uppercase;
}
.playerWinner::before {
    content: '\f59c';
    font-family: 'Font Awesome\ 5 Free'; 
	font-weight: 900;
    margin-right: 0.5rem;
}

.playerTotalScore {
    margin: 0;
    margin-top: 10vh;
    padding: 0;
    font-size: 6vw;
    font-weight: 100;
    color: var(--drg-primary);
    margin-bottom: auto;
}
.playerTotalScore::after {
    content: '/100';
    font-size: 3vw;
    color: var(--drg-dark-gray);
}

.playerCurrentScoreBox {
    margin: 0;
    margin-top: 5vh;
    margin-bottom: 20vh;
    padding: 1.5vh;
    min-width: 15%;
    background-color: var(--drg-primary);
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    opacity: 0.9;
}

.playerCurrentScoreTitle {
    margin: 0;
    padding: 0;
    font-size: 1.3vw;
    font-weight: 300;
    color: var(--drg-front);
    text-transform: uppercase;
}

.playerCurrentScore {
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
    font-weight: 300;
    color: var(--drg-back);
}

.dice {
    position: absolute;
    top: calc(50vh - (12vw / 2));
    left: calc(50vw - (12vw / 2));
    width: 12vw;
    height: 12vw;
    perspective: 30vw;
    cursor: pointer;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    font-size: 1vw;
    font-weight: bold;
    text-transform: lowercase;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 50%;
    margin-left: -67px;
    opacity: 0.8;
}
.tooltiptext::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.dice:hover .tooltiptext {
    visibility: visible;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-6vw);
    transition: transform 0.25s;
}
.cube.active1 {
    transform: translateZ(-6vw) rotateY(0deg);
}
.cube.active2 {
    transform: translateZ(-6vw) rotateX(-90deg);
}
.cube.active3 {
    transform: translateZ(-6vw) rotateY(90deg);
}
.cube.active4 {
    transform: translateZ(-6vw) rotateY(-90deg);
}
.cube.active5 {
    transform: translateZ(-6vw) rotateX(90deg);
}
.cube.active6 {
    transform: translateZ(-6vw) rotateY(-180deg);
}

.face {
    position: absolute;
    width: 12vw;
    height: 12vw;
    opacity: 0.90;
}
.face.one {
    background: url(./images/dice1.png) no-repeat center;
    background-size: 12vw 12vw;
    transform: rotateY(0deg) translateZ(6vw);
}
.face.two {
    background: url(./images/dice2.png) no-repeat center;
    background-size: 12vw 12vw;
    transform: rotateX(90deg) translateZ(6vw);
}
.face.three {
    background: url(./images/dice3.png) no-repeat center;
    background-size: 12vw 12vw;
    transform: rotateY(-90deg) translateZ(6vw);
}
.face.four {
    background: url(./images/dice4.png) no-repeat center;
    background-size: 12vw 12vw;
    transform: rotateY(90deg) translateZ(6vw);
}
.face.five {
    background: url(./images/dice5.png) no-repeat center;
    background-size: 12vw 12vw;
    transform: rotateX(-90deg) translateZ(6vw);
}
.face.six {
    background: url(./images/dice6.png) no-repeat center;
    background-size: 12vw 12vw;
    transform: rotateY(180deg) translateZ(6vw);
}

.holdLink, .startLink,
.holdLink:focus, .startLink:focus,
.holdLink:active, .startLink:active,
.holdLink:visited, .startLink:visited {
    color: var(--drg-front);
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    background-color: var(--drg-back-opacity);
    padding: 1vw;
    border-radius: 8px;
}
.startLink {
    top: 4.5vh;
    font-size: 1.5vw;
}
.holdLink {
    display: none;
    top: 22vh;
    font-size: 2vw;
}
.holdLink:hover, .startLink:hover {
    color: var(--drg-dark-gray);
    background-color: var(--drg-back);
}
.holdLink::before, .startLink::before {
    font-family: 'Font Awesome\ 5 Free'; 
	font-weight: 900;
    margin-right: 0.5rem;
    color: var(--drg-primary);
    opacity: 0.8;
}
.holdLink::before {
    content: '\f055';
}
.startLink::before {
    content: '\f522';
}






@keyframes blink {
    0%      { opacity:1; }
    50%     { opacity:0; }
    100%    { opacity:1; }
}

@media screen and (max-width: 576px) {

    .container {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    .playerZone {
        width: 100%;
        height: 50%;
    }
    .playerZone:nth-child(even) {
        flex-flow: column-reverse nowrap;
    }

    .playerTotalScore {
        margin: 0;
        font-size: 12vw;
    }
    .playerZone:nth-child(odd) .playerTotalScore {
        margin-top: 5vh;
    }
    .playerZone:nth-child(even) .playerTotalScore {
        margin-bottom: 5vh;
    }

    .playerZone:nth-child(odd) .playerCurrentScoreBox {
        margin-top: 10vh;
    }
    .playerZone:nth-child(even) .playerCurrentScoreBox {
        margin-bottom: 10vh;
    }

    .playerName {
        font-size: 5vw;
        margin: 0;
    }
    .playerZone:nth-child(odd) .playerName {
        margin-top: 5vh;
    }
    .playerZone:nth-child(even) .playerName {
        margin-bottom: 5vh;
    }

    .playerZone:nth-child(odd) .playerCurrentScoreBox {
        margin-top: 3vh;
    }
    .playerZone:nth-child(even) .playerCurrentScoreBox {
        margin-bottom: 3vh;
    }

    .playerCurrentScoreTitle {
        font-size: 2vw;
    }
    
    .playerCurrentScore {
        font-size: 6vw;
    }

    .startLink {
        top: calc(50% - 3.5vw);
        left: 5vw;
        font-size: 3.5vw;
    }
    .holdLink {
        top: calc(50% - 3.5vw);
        right: 5vw;
        font-size: 5vw;
    }

}