@use "./reset";

@font-face {
    font-family: 'Dancing Script';
    src: url('../../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf')  format('truetype');
}
@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-Regular.ttf')  format('truetype');
}

$clr-background: #fff;
$clr-body: #111;

$clr-primary-400: #071C2B;
$clr-primary-300: #395661;
$clr-primary-200: #7c95ad;
$clr-primary-100: #e8f4ff;

$clr-active: #5F5364;

$font-body: 'Poppins', sans-serif;
$font-title: "Dancing Script", cursive;

$menuBurgerTop: 2rem;
$menuBurgerLeft: 2rem;
$menuBurgerWidth: clamp(24px, 4vmin, 32px);
$menuBurgerHeight: 24px;
$menuBurgerBackWidth: 10rem;
$menuBurgerBK1: 550px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    font-family: $font-body;
    font-size: clamp(1rem, 4vw, 1.5rem);
    background-color: $clr-background;
    color: $clr-body;
    font-size: 1rem;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $clr-background;
    z-index: 1000;
    display: grid;
    place-items: center;
    color: $clr-primary-400;
    transition: all 500ms ease-in-out;
}

header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
}

main {
    position: relative;
    display: block;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    transition: opacity 250ms, transform 250ms;
}
.page-enter {
    opacity: 0;
    transform: scale(0);
}
.page-enter.page-enter-active {
    opacity: 1;
    transform: scale(1.1);
}
.page-enter-done {
    transform: scale(1);
}
.page-exit {
    opacity: 1;
    transform: scale(1);
}
.page-exit.page-exit-active {
    opacity: 0;
    transform: scale(0);
}
.page-exit-done {
    opacity: 0;
    transform: scale(0);
}

.page-title {
    $maxWidth: 300px;

    position: absolute;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5em;
    align-items: center;

    top: calc($menuBurgerTop + ($menuBurgerHeight / 2) + 1px);
    left: calc($menuBurgerLeft + $menuBurgerWidth + $menuBurgerBackWidth + 2em);
    transform: translateY(-50%);
    color: $clr-active;
    font-family: $font-title;
    font-weight: bold;
    font-size: clamp(1.25em, calc(1.25rem + ((1vw - 0.48em) * 2.0833)), 2.2em);
    line-height: 1.5em;

    @media screen and (max-width: $menuBurgerBK1) {
        left: calc($menuBurgerLeft + $menuBurgerWidth + 1em);
    }

    svg {
        margin-top: 0;
    }
}

.menu-burger {
    $backgroundPadding: 0.5em;
    $backgroundMargin: 0px;

    position: absolute;
    left: $menuBurgerLeft;
    top: $menuBurgerTop;
    width: $menuBurgerWidth;
    height: $menuBurgerHeight;
    z-index: 102;
    cursor: pointer;

    &::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: calc(($backgroundPadding * -1) + $backgroundMargin);
        left: calc(($backgroundPadding * -1) + $backgroundMargin);
        width: calc($menuBurgerWidth + (2 * $backgroundPadding) + $menuBurgerBackWidth);
        height: calc($menuBurgerHeight + (2 * $backgroundPadding));
        border-radius: 10px;
        background-color: transparentize($clr-background, 0.1);
        transition: all 250ms ease-in-out;
        border: 4px solid transparentize($clr-background, 0.25);
    }

    @media screen and (max-width: $menuBurgerBK1) {
        &::before {
            width: calc($menuBurgerWidth + (2 * $backgroundPadding));
        }
    }

    span {
        position: absolute;
        display: block;
        width: 100%;
        height: calc(($menuBurgerHeight / 10) * 2);
        left: $backgroundMargin;
        background-color: $clr-primary-400;
        border-radius: calc(($menuBurgerHeight / 10) * 2);
        transition: all 250ms ease-in-out;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: calc(50% - calc($menuBurgerHeight / 10));
            background-color: $clr-active;
        }

        &:nth-child(3) {
            bottom: 0;
        }

        &:nth-child(4) {
            all: initial;
            position: absolute;
            display: block;
            overflow-x: hidden;
            left: calc($menuBurgerLeft + 1rem);
            top: calc(50% + 1px);
            text-transform: uppercase;
            font-family: inherit;
            cursor: pointer;
            font-size: calc($menuBurgerHeight / 2);
            font-weight: bold;
            color: $clr-primary-300;
            transform: translateY(-50%) scale(1);
            transition: all 250ms ease-in-out;
            white-space: nowrap;
        }

        @media screen and (max-width: $menuBurgerBK1) {
            &:nth-child(4) {
                display: none;
            }
        }
    }

    &:hover {
        span {
            &:nth-child(1) {
                background-color: $clr-active;
            }
    
            &:nth-child(2) {
                background-color: $clr-primary-200;
            }
    
            &:nth-child(3) {
                background-color: $clr-active;
            }

            &:nth-child(4) {
                color: $clr-primary-200;
            }
        }
    }

    &.menu-burger-opened {
        span {
            &:nth-child(1) {
                background-color: $clr-active;
                transform-origin: top left;
                left: 50%;
                top: 50%;
                transform: rotate(45deg) translateX(-50%) translateY(-50%);
            }
    
            &:nth-child(2) {
                opacity: 0;
            }
    
            &:nth-child(3) {
                background-color: $clr-active;
                transform-origin: top left;
                left: 50%;
                top: 50%;
                transform: rotate(-45deg) translateX(-50%) translateY(-50%);
            }

            &:nth-child(4) {
                transform: translateY(-50%) scale(0);
            }
        }

        &::before {
            content: '';
            width: calc($menuBurgerWidth + (2 * $backgroundPadding));
            height: calc($menuBurgerHeight + 1em);
        }
    }
}

.menu {
    display: grid;
    place-items: center;
    background-color: transparentize($clr-primary-100, 0.05);
    height: 0;
    opacity: 0;
    transform: scale(0);
    transition: all 250ms ease-in-out;

    &.menu-opened {
        height: 100vh;
        opacity: 1;
        transform: scale(1);
    }

    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        li {
            &:nth-last-child(1) {
                margin-top: 2em;

                a {
                    font-size: clamp(32px, 7vmin, 48px);
                    padding: 0.3em;
                    color: $clr-active;
                }
            }

            a {
                font-size: clamp(24px, 6vmin, 48px);
                font-weight: 900;
                line-height: 1.2em;
                color: $clr-primary-200;
                display: inline-flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                gap: 0.3em;
                text-decoration: none;
                transition: all 250ms ease-in-out;

                &:hover {
                    color: $clr-primary-400;
                    
                }

                &.menu_current-link {
                    color: $clr-active;
                }

                .menu_link-icon {
                    width: 20px;
                    height: 20px;
                    margin-top: -1px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    filter: opacity(0.5) drop-shadow(0 0 0 $clr-background);
                }
            }
        }
    }
}

h1 {
    font-family: $font-title;
    font-size: clamp(3.5em, 12vw, 9em);
    font-weight: bold;
}

h2 {
    font-family: $font-body;
    font-size: clamp(1.5em, 3vw, 5em);
    font-weight: 100;
}

.home {
    $margins: 1em;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: $margins;
    width: calc(100vw - (2* $margins));
    height: calc(100vh - (2 * $margins));
    border-radius: 10px;

    div {
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
        text-shadow: 0 0 5px transparentize($clr-body, 0.5);

        h1, h2 {
            color: $clr-background;
        }
    }

}





.container {
    margin: 1em;
    background: linear-gradient(to bottom, $clr-background, transparentize($clr-primary-100, 0.5));
    border-radius: 10px;
}

.content {
    width: min(100%, 800px);
    margin: 0 auto;
    padding: 1em 2em;
    font-size: clamp(0.9rem, 3vw, 1.2rem);

    img {
        max-width: 100%;
        height: auto;
        max-height: 300px;
        border-radius: 10px;
        margin: 1em 0;
        object-fit: cover;
        object-position: center;
    }

    h1 {
        font-family: $font-body;
        font-size: clamp(3em, calc(3rem + ((1vw - 0.48em) * 2.7778)), 5em);
        margin: 0.5em 0;
        margin-top: 1em;
        color: $clr-primary-400;
    }

    h2 {
        font-family: $font-title;
        font-size: clamp(2.5em, calc(2.5rem + ((1vw - 0.48em) * 2.7778)), 4em);
        margin: 0.5em 0;
        margin-top: 0.5em;
        color: $clr-primary-400;
        font-weight: bold;
    }

    h3 {
        font-family: $font-body;
        font-size: clamp(1.5em, calc(1.5rem + ((1vw - 0.48em) * 2.7778)), 3em);
        font-weight: 900;
        margin: 0.5em 0;
        margin-top: 1em;
        color: $clr-primary-300;
        border-bottom: 1px solid $clr-active;
    }

    h4 {
        font-family: $font-body;
        font-size: clamp(1em, calc(1rem + ((1vw - 0.48em) * 2.0833)), 2em);
        font-weight: 900;
        margin: 0.5em 0;
        margin-top: 1em;
        color: $clr-active;
    }

    h5 {
        font-family: $font-body;
        font-size: clamp(0.75em, calc(0.75rem + ((1vw - 0.48em) * 2.0833)), 2em);
        font-weight: 900;
        margin: 0.5em 0;
        margin-top: 1em;
        color: $clr-primary-400;
        font-weight: bold;
    }

    h6 {
        font-family: $font-body;
        font-size: clamp(0.5em, calc(0.5rem + ((1vw - 0.48em) * 2.0833)), 2em);
        font-weight: 400;
        margin: 0.5em 0;
        margin-top: 1em;
        color: $clr-body;
    }

    p {
        margin: 1em 0;
        line-height: 1.4em;
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    a {
        color: $clr-primary-300;
        font-weight: 100;
        text-decoration-color: $clr-primary-300;
        transition: all 250ms ease-in-out;

        &:hover {
            color: $clr-primary-400;
            text-decoration-color: $clr-primary-400;
        }
    }

    ul {
        list-style-type: disc;
        list-style-position: inside;
    }

    ol {
        list-style: decimal;
        list-style-position: inside;
        list-style-type: decimal-leading-zero;
        
    }
    
    .prestations {
        margin: 3rem auto;

        .prestation {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            position: relative;
            margin: 2rem auto;
            background-color: $clr-background;
            border-radius: 10px;
            box-shadow: 0 0 3px transparentize($clr-body, 0.9);

            img {
                max-height: 230px;
                object-fit: cover;
                object-position: center;
                border: 1px solid $clr-background;
                align-items: center;
                justify-content: center;
                filter: grayscale(1);
                transition: filter 250ms ease-in-out;
            }

            &:hover {
                img {
                    filter: grayscale(0);
                }
            }

            img, h4 {
                margin: 0;
            }

            .prestation-price {
                position: absolute;
                z-index: 99;
                background-color: $clr-primary-200;
                padding: 1em;
                border-radius: 10px;
                filter: sepia(1);
                transform: rotate(-10deg);
                top: -10px;
                left: -10px;
                font-family: $font-title;
                font-size: larger;
                font-weight: bold;
                box-shadow: 0 0 3px transparentize($clr-body, 0.2);
            }

            .prestation-infos {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                padding: 1em;
                overflow: hidden;

                h4 {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                p {
                    font-size: smaller;
                    text-overflow: ellipsis;
                }
            }

        }
    }
}





@keyframes animation_menu-disappear { 100% { height: 0; transform: scale(0); } }
@keyframes animation_menu-appear { 100% { height: 100vh; transform: scale(1); } }
@keyframes animation_menu-idle { 0% { transform: scale(0.8) } 50% { transform: scale(1.2) } 100% { transform: scale(0.8) } }